<script lang="ts">
    import Card from "$components/Card.svelte";
    import ReturnButton from "$components/elements/ReturnButton.svelte";
    import Header from "$components/Header.svelte";
    import Transition from "$components/transition.svelte";
</script>

<Transition name="scale">
    <Header h1="About" />

    <section>
        <Card>
            <p>Hi!</p>
        </Card>

        <Card>
            <p>I hope you're enjoying the experience!</p>
        </Card>

        <Card>
            <p>
                And I really, really hope you've clicked on that video link on
                the homepage ;)
            </p>
        </Card>
    </section>
</Transition>

<ReturnButton />

<style lang="scss">
    section {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
</style>
