<script lang="ts">
    import { copyTextToClipboard } from "./../helper.js";

    export let labelText: string;
    export let link: string;
    export let showEmailBtn = false;
</script>

<div class="input-parent">
    <label for={labelText}>
        {labelText}
    </label>
    <div>
        <input
            id={labelText}
            type="text"
            value={link}
            readonly={true}
            on:focus={(e) => e.currentTarget.select()}
        />
        {#if showEmailBtn}
            <a href="mailto:?body={link}" class="button-like">Mail</a>
        {/if}
        <button on:click={() => copyTextToClipboard(link)}>Copy</button>
    </div>
</div>

<style lang="scss">
    div.input-parent {
        div {
            display: flex;
            flex-wrap: wrap;
            align-content: stretch;

            input {
                background-color: var(--accent);
                color: var(--accentFont);
                max-width: fit-content;
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }
            a {
                //align-self: stretch;
                background-color: darkblue;
                color: white;
                border-radius: 0;
            }
            button {
                background-color: green;
                color: white;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }
        }
    }
</style>
