<script lang="ts">
    export let icon = "tree";
    export let link = "/";
</script>

<a href={link}>
    <i class="fa-solid fa-{icon} fa-3x" />
    <button>
        <slot />
    </button>
</a>

<style lang="scss">
    @import url(../style/icons/css/all);
    a {
        background: url("https://s1.qwant.com/thumbr/474x316/8/9/646763fa7506f8aaa2d3394145ee30a21e63102cba3163b06498cf35ccca54/th.jpg?u=https%3A%2F%2Ftse2.mm.bing.net%2Fth%3Fid%3DOIP.7_F0-UBxZ7RRSJxT9V2xggHaE8%26pid%3DApi&q=0&b=1&p=0&a=0");
        background-size: cover;
        display: grid;
        justify-items: center;
        transition: all 0.2s;
        border-radius: 1rem;
        margin: 0.5rem;
        color: var(--font);
        width: min(20rem, 90%);
        min-height: 12.5rem;
        box-shadow: 0.2rem 0.2rem 1rem var(--shadow);

        text-decoration: none;
        cursor: pointer;

        i {
            position: relative;
            color: var(--accent);
            transition: all 0.2s;
            top: 50%;
        }
        button {
            position: relative;
            font-size: 1.1rem;
            opacity: 0.75;
            width: 100%;
            height: 3rem;
            margin-top: auto;
            border-bottom-left-radius: 1rem;
            border-bottom-right-radius: 1rem;
            font-weight: bold;
        }

        &:hover {
            button {
                background: var(--accent);
                color: var(--accentFont);
            }
            i {
                color: var(--accent);
            }
        }
    }
</style>
