<script lang="ts">
    import { goto } from "$app/navigation";
    import Transition from "$components/transition.svelte";

    function goBack() {
        const ref = document.referrer;
        goto(ref.length > 0 ? ref : "/");
    }
</script>

<nav class="return">
    <Transition>
        <i on:click={goBack} class="fa-solid fa-circle-chevron-left fa-3x" />
    </Transition>
</nav>

<style lang="scss">
    nav {
        position: absolute;
        bottom: 3rem;
    }
    i {
        color: var(--accent);
        background: var(--accentFont);
        border-radius: 50%;
        opacity: 80%;
        cursor: pointer;
    }
</style>
